$item-color: " .category::before";

.item-maindish,
.item-maindish #{item-color} {
    border-color: #FFC0CB; 
    border-color: #FFC0CB;
}

.item-appetizer
.item-appetizer #{item-color} {
    border-color: #76C047;
}

.item-column,
.item-column #{item-color} {
    border-color: #FFF100;
}

.item-breaktime,
.item-breaktime #{item-color} {
    border-color: #C1EFFF;
}